name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "0 0 * * *"}]
  # (Optional) Run workflow manually
  workflow_dispatch:
  # (Optional) Run on every push to main
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: 00Halfman00
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: America/Chicago # Set to your local time
          
          # Plugin: Top Languages
          plugin_languages: yes
          plugin_languages_ignored: html, css
          plugin_languages_limit: 8
